@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --heading-color: #ed7833;
    --text-color: #a3a3a3;
    --header-color: #223581;
    --nav-color: #ffffff;
    --glow-color: hsl(186 100% 69%);
}

html{
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

*::before,
*::after {
  box-sizing: border-box;
}

p {
    color: var(--text-color);
}

a {
    text-decoration: none;
}

body {
    background-image: url(img/background.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

img {
    max-width: 100%;
    border-radius: 10px;
    height: auto;
  }

main {
    display: grid;
    place-items: center;
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
    background-color: #223581;
}

.header nav {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
}

.intro {
    display: flex;
    max-width: 1000px;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-bottom: 5rem;
}

.h1_decor {
    animation: glow 1s infinite alternate;
}

.text1 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 700;
    padding: 0.5rem;
    color: white;
    background-color: #e85600;
    border: none;
    border-radius: 2rem;
}

.text-h1 {
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
    color: #fff;
    margin: 1rem 0;
}

.text2{
   color: #fff; 
}

.top-list {
    display: flex;
    height: 80vh;
    background-color: #383838;
    width: 900px;
    justify-self: center;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
}

.explain {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
}

.section {
    padding: 2rem 1rem;
    background-color: rgba(36, 35, 35, 0.952);
    width: 1000px;
    margin: auto;
}

.section h2 {
    font-size: 2rem;
    margin-bottom: 0.5em;
    font-weight: 600;
    background-image: linear-gradient(to right, var(--text-color), var(--heading-color));
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.section-h3 {
    font-size: 1.75rem;
    margin: .5em 0;
    color: var(--heading-color);
}

.content-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    justify-items: center;
    margin-top: 1em;
    gap: 20px;
}

.factor-container {
    position: relative;
    width: 30vmin;
    height: 25vmin;
    display: grid;
    place-content: center;
    color: white;
    padding: 1rem;
    transition: all .3s ease-in-out;
    box-shadow: rgba(240, 46, 169, 0.1) 5px 5px, rgba(240, 46, 169, 0.08) 10px 10px, rgba(240, 46, 169, 0.06) 15px 15px, rgba(240, 46, 169, 0.04) 20px 20px, rgba(240, 46, 170, 0.02) 25px 25px;
}

.box1{
    --border-angle: 0turn;
    --main-bg: conic-gradient(
      from var(--border-angle),
      #213,
      #112 5%,
      #112 60%,
      #213 95%
    );

    border-left: 5px solid transparent;
    border-radius: 2em;
    --gradient-border: conic-gradient(
      from var(--border-angle),
      transparent 25%,
      #08f,
      #f03 99%,
      transparent
    );

    background: var(--main-bg) padding-box, var(--gradient-border) border-box,
      var(--main-bg) border-box;

    background-position: center center;
    animation: bg-spin 10s linear infinite;
}

.box2{
    --border-angle: 0turn;
    --main-bg: conic-gradient(
      from var(--border-angle),
      #213,
      #112 5%,
      #112 60%,
      #213 95%
    );

    border-top: 5px solid transparent;
    border-radius: 2em;
    --gradient-border: conic-gradient(
      from var(--border-angle),
      transparent 25%,
      #08f,
      #f03 99%,
      transparent
    );

    background: var(--main-bg) padding-box, var(--gradient-border) border-box,
      var(--main-bg) border-box;

    background-position: center center;
    animation: bg-spin 10s linear infinite;
}

.box3{
    --border-angle: 0turn;
    --main-bg: conic-gradient(
      from var(--border-angle),
      #213,
      #112 5%,
      #112 60%,
      #213 95%
    );

    border-right: 5px solid transparent;
    border-radius: 2em;
    --gradient-border: conic-gradient(
      from var(--border-angle),
      transparent 25%,
      #08f,
      #f03 99%,
      transparent
    );

    background: var(--main-bg) padding-box, var(--gradient-border) border-box,
      var(--main-bg) border-box;

    background-position: center center;
    animation: bg-spin 10s linear infinite;
}

.box4{
    --border-angle: 0turn;
    --main-bg: conic-gradient(
      from var(--border-angle),
      #213,
      #112 5%,
      #112 60%,
      #213 95%
    );

    border-bottom: 5px solid transparent;
    border-radius: 2em;
    --gradient-border: conic-gradient(
      from var(--border-angle),
      transparent 25%,
      #08f,
      #f03 99%,
      transparent
    );

    background: var(--main-bg) padding-box, var(--gradient-border) border-box,
      var(--main-bg) border-box;

    background-position: center center;
    animation: bg-spin 10s linear infinite;
}

.box5{
    --border-angle: 0turn;
    --main-bg: conic-gradient(
      from var(--border-angle),
      #213,
      #112 5%,
      #112 60%,
      #213 95%
    );

    border-left: 5px solid transparent;
    border-radius: 2em;
    --gradient-border: conic-gradient(
      from var(--border-angle),
      transparent 25%,
      #08f,
      #f03 99%,
      transparent
    );

    background: var(--main-bg) padding-box, var(--gradient-border) border-box,
      var(--main-bg) border-box;

    background-position: center center;
    animation: bg-spin 10s linear infinite;
}

.box6{
    --border-angle: 0turn;
    --main-bg: conic-gradient(
      from var(--border-angle),
      #213,
      #112 5%,
      #112 60%,
      #213 95%
    );

    border-top: 5px solid transparent;
    border-radius: 2em;
    --gradient-border: conic-gradient(
      from var(--border-angle),
      transparent 25%,
      #08f,
      #f03 99%,
      transparent
    );

    background: var(--main-bg) padding-box, var(--gradient-border) border-box,
      var(--main-bg) border-box;

    background-position: center center;
    animation: bg-spin 10s linear infinite;
}


.factor-container:hover {
    border: solid 3px transparent;
}

.regulation {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    position: relative;
}

.stt {
    position: absolute;
    top: calc(0px - 3rem);
    left: calc(0px - 1rem);
    padding: .5rem;
    border-top-left-radius: 2rem;
    background-color: #e85600;
    color: white;
    font-weight: bold;
}

.stt1{
    border-top-left-radius: 2rem;
}

.regulation-h3 {
    color: white;
}

.regulation-button {
    background-color: transparent;
    padding: 5px 10px;
    color: white;
    border: 1px solid red;
    cursor: pointer;
    transition: background-color .5s ease-in-out;
}

.regulation-button:hover{
    background-color: #ffffff33;
}

.game-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    padding: 3rem 0;
    row-gap: 3rem;
}

.casino-game {
    text-align: center;
}

.casino-game p {
    text-transform: uppercase;
    font-size: 1.25em;
    line-height: 1.3;
    color: var(--heading-color);
    padding: 1rem 0;
}

.casino-game a img{
    transition: all 0.4s ease-in-out;
}

.casino-game a img:hover{
    transform: scale(1.3);
}

table {
    margin-top: 2rem;
    border-collapse: collapse;
    width: 100%;
}

.pros{
    background-color: #166534; 
}

.cons{
    background-color: #991b1b;
}

table th {
    width: 50%;
    font-size: 1.25em;
    color: white;
    padding: 0.5rem 0;
}

table tbody td {
    color: var(--text-color);
    padding-top: 10px;
    padding-left: 2rem;
    padding-bottom: 10px;
}

.pros-marker li,
.cons-marker li{
    position: relative;
    padding-left: 1rem;
    line-height: 1.5rem;
    margin-bottom: .6rem;
}

.pros-marker li::marker{
    position: absolute;
    left: 0;
    content: '✓';
    color: #166534;
    font-weight: bold;
}

.cons-marker li::marker{
    position: absolute;
    left: 0;
    content: '✕';
    color: #991b1b;
    font-weight: bold;
}

.page-navigation {
    display: flex;
    gap: 2px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.navigation-button {
    display: inline-block;
    border: 2px solid var(--heading-color);
    color: white;
    font-weight: bold;
    padding: 5px 5px;
    transition: all 0.3s ease;
}

.navigation-button:hover {
    color: rgba(255, 255, 255, 0.63);
    border: 2px solid red;
}

.cta-button {
    text-align: center;
    margin: 2em 0;
}

.glowing-btn {
    position: relative;
    color: var(--glow-color);
    cursor: pointer;
    display: inline-block;
    padding: 0.35em 1em;
    border: 0.15em solid var(--glow-color);
    border-radius: 0.45em;
    background: none;
    perspective: 2em;
    font-size: 1.5em;
    font-weight: 900;
    letter-spacing: 1em;
  
    -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
      0px 0px 0.5em 0px var(--glow-color);
    -moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
      0px 0px 0.5em 0px var(--glow-color);
    box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
      0px 0px 0.5em 0px var(--glow-color);
    animation: border-flicker 2s linear infinite;
  }
  
.glowing-txt {
    float: left;
    margin-right: -0.8em;
    -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
      0 0 0.45em var(--glow-color);
    -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
      0 0 0.45em var(--glow-color);
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
    animation: text-flicker 3s linear infinite;
}
  
.faulty-letter {
    opacity: 0.5;
    animation: faulty-flicker 2s linear infinite;
  }
  
.glowing-btn::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.7;
    filter: blur(1em);
    transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
    background: var(--glow-color);
    pointer-events: none;
  }
  
.glowing-btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: -1;
    background-color: var(--glow-color);
    box-shadow: 0 0 2em 0.2em var(--glow-color);
    transition: opacity 100ms linear;
  }
  
.glowing-btn:hover {
    color: rgba(0, 0, 0, 0.8);
    text-shadow: none;
    animation: none;
  }
  
.glowing-btn:hover .glowing-txt {
    animation: none;
  }
  
.glowing-btn:hover .faulty-letter {
    animation: none;
    text-shadow: none;
    opacity: 1;
  }
  
.glowing-btn:hover:before {
    filter: blur(1.5em);
    opacity: 1;
  }
  
.glowing-btn:hover:after {
    opacity: 1;
  }

.accordion {
    background-color: transparent;
    color: white;
    font-size: 18px;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    transition: 0.4s;
}

.faq-info{
  margin-bottom: 1.5em;
  border: 1px solid #fff;
}


.faq-container{
  width: 40em;
  margin: 0 auto;
}

.active,
.accordion:hover{
    background-color: rgba(255, 255, 255, 0.212);
}

.panel{
    padding: 2rem 18px;
    background-color: transparent;
    font-size: 16px;
    line-height: 1.3rem;
    display: none;
    overflow: hidden;
}

.accordion::after{
    content: '\02795';
    font-size: 18px;
    color: #fff;
    float: right;
    margin-left: 5px;
}

.active::after {
    content: '\2796';
    color: #fff;
}
  

@property --border-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0turn;
  }

@keyframes bg-spin {
    to {
      --border-angle: 1turn;
    }
  }

@keyframes glow {
    from {
      text-shadow: 0 0 10px #166534, 0 0 20px #166534, 0 0 30px #166534;
    }
    to {
      text-shadow: 0 0 20px var(--heading-color), 0 0 30px var(--heading-color), 0 0 40px var(--heading-color);
    }
}

@keyframes faulty-flicker {
    0% {
      opacity: 0.1;
    }
    2% {
      opacity: 0.1;
    }
    4% {
      opacity: 0.5;
    }
    19% {
      opacity: 0.5;
    }
    21% {
      opacity: 0.1;
    }
    23% {
      opacity: 1;
    }
    80% {
      opacity: 0.5;
    }
    83% {
      opacity: 0.4;
    }
  
    87% {
      opacity: 1;
    }
  }
  
  @keyframes text-flicker {
    0% {
      opacity: 0.1;
    }
  
    2% {
      opacity: 1;
    }
  
    8% {
      opacity: 0.1;
    }
  
    9% {
      opacity: 1;
    }
  
    12% {
      opacity: 0.1;
    }
    20% {
      opacity: 1;
    }
    25% {
      opacity: 0.3;
    }
    30% {
      opacity: 1;
    }
  
    70% {
      opacity: 0.7;
    }
    72% {
      opacity: 0.2;
    }
  
    77% {
      opacity: 0.9;
    }
    100% {
      opacity: 0.9;
    }
  }
  
  @keyframes border-flicker {
    0% {
      opacity: 0.1;
    }
    2% {
      opacity: 1;
    }
    4% {
      opacity: 0.1;
    }
  
    8% {
      opacity: 1;
    }
    70% {
      opacity: 0.7;
    }
    100% {
      opacity: 1;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .glowing-btn{
      font-size: 1em;
    }
  }
  
