@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --heading-color: #ed7833;
    --text-color: #a3a3a3;
    --header-color: #223581;
    --nav-color: #ffffff;
}

html{
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

p {
    color: var(--text-color);
}

a {
    text-decoration: none;
}

body {
    background-image: url(img/background.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

img {
    max-width: 100%;
    border-radius: 10px;
    height: auto;
  }

main {
    display: grid;
    place-items: center;
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
    background-color: #223581;
}

.header nav {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-bottom: 5rem;
}

.h1_decor {
    animation: glow 1s infinite alternate;
}

.text1 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 700;
    padding: 0.5rem;
    color: white;
    background-color: #e85600;
    border: none;
    border-radius: 2rem;
}

.text-h1 {
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
    color: #fff;
    margin: 1rem 0;
}

.text2{
   color: #fff; 
}

.top-list {
    display: flex;
    height: 80vh;
    background-color: #383838;
    width: 900px;
    justify-self: center;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
}

.explain {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
}

.section {
    padding: 2rem 1rem;
    background-color: rgba(36, 35, 35, 0.952);
    width: 1000px;
    margin: auto;
}

.section h2 {
    font-size: 2rem;
    margin-bottom: 0.5em;
    font-weight: 600;
    background-image: linear-gradient(to right, var(--text-color), var(--heading-color));
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.section-h3 {
    font-size: 1.75rem;
    margin: .5em 0;
    color: var(--heading-color);
}

.content-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    justify-items: center;
    margin-top: 1em;
    gap: 10px;
}

.factor-container {
    position: relative;
    width: 30vmin;
    height: 25vmin;
    display: grid;
    place-content: center;
    color: white;
    padding: 1rem;
    transition: all .3s ease-in-out;
    box-shadow: rgba(240, 46, 169, 0.1) 5px 5px, rgba(240, 46, 169, 0.08) 10px 10px, rgba(240, 46, 169, 0.06) 15px 15px, rgba(240, 46, 169, 0.04) 20px 20px, rgba(240, 46, 170, 0.02) 25px 25px;

    --border-angle: 0turn;
    --main-bg: conic-gradient(
      from var(--border-angle),
      #213,
      #112 5%,
      #112 60%,
      #213 95%
    );

    border: none;
    border-radius: 2em;
    --gradient-border: conic-gradient(
      from var(--border-angle),
      transparent 25%,
      #08f,
      #f03 99%,
      transparent
    );

    background: var(--main-bg) padding-box, var(--gradient-border) border-box,
      var(--main-bg) border-box;

    background-position: center center;
    animation: bg-spin 10s linear infinite;
}

.factor-container:hover {
    border: solid 3px transparent;
}

.regulation {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    position: relative;
}

.stt {
    position: absolute;
    top: calc(0px - 3rem);
    left: calc(0px - 1rem);
    padding: .5rem;
    border-top-left-radius: 2rem;
    background-color: #e85600;
    color: white;
    font-weight: bold;
}

.stt1{
    border-top-left-radius: 2rem;
}

.regulation-h3 {
    color: white;
}

.regulation-button {
    background-color: transparent;
    padding: 5px 10px;
    color: white;
    border: 1px solid red;
    cursor: pointer;
    transition: background-color .5s ease-in-out;
}

.regulation-button:hover{
    background-color: #ffffff33;
}

.game-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    padding: 3rem 0;
    row-gap: 3rem;
}

.casino-game {
    text-align: center;
}

.casino-game p {
    text-transform: uppercase;
    font-size: 1.25em;
    line-height: 1.3;
    color: var(--heading-color);
    padding: 1rem 0;
}

.casino-game a img{
    transition: all 0.4s ease-in-out;
}

.casino-game a img:hover{
    transform: scale(1.3);
}

table {
    margin-top: 2rem;
    border-collapse: collapse;
    width: 100%;
}

.pros{
    background-color: #166534; 
}

.cons{
    background-color: #991b1b;
}

table th {
    width: 50%;
    font-size: 1.25em;
    color: white;
    padding: 0.5rem 0;
}

table tbody td {
    color: var(--text-color);
    padding-top: 10px;
    padding-left: 2rem;
    padding-bottom: 10px;
}

.pros-marker li,
.cons-marker li{
    position: relative;
    padding-left: 1rem;
    line-height: 1.5rem;
    margin-bottom: .6rem;
}

.pros-marker li::marker{
    position: absolute;
    left: 0;
    content: '✓';
    color: #166534;
    font-weight: bold;
}

.cons-marker li::marker{
    position: absolute;
    left: 0;
    content: '✕';
    color: #991b1b;
    font-weight: bold;
}

.page-navigation {
    display: flex;
    gap: 2px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.navigation-button {
    display: inline-block;
    border: 2px solid var(--heading-color);
    color: white;
    font-weight: bold;
    padding: 5px 5px;
    transition: all 0.3s ease;
}

.navigation-button:hover {
    color: rgba(255, 255, 255, 0.63);
    border: 2px solid red;
}

@property --border-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0turn;
  }

@keyframes bg-spin {
    to {
      --border-angle: 1turn;
    }
  }

@keyframes glow {
    from {
      text-shadow: 0 0 10px #166534, 0 0 20px #166534, 0 0 30px #166534;
    }
    to {
      text-shadow: 0 0 20px var(--heading-color), 0 0 30px var(--heading-color), 0 0 40px var(--heading-color);
    }
}
